<ion-header>
  <ion-toolbar>
    <ion-title>begin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-img class="logo-cesar" src="assets/cesar-logo.png"></ion-img>

  <ion-text>
    <h2 class="hello">Olá, estudante Bem vinde a Clip!</h2>
  </ion-text>

  <ion-text>
    <h4 class="intro">Nós vamos te ajudar a expandir o seu networking acadêmico e profissional.</h4>
  </ion-text>

  <ion-img class="imag-be" src="assets/begin-page.png"></ion-img>

  <ion-button class="begin" color="borahae" shape="round" size="default" (click)="init()">Começar</ion-button>

</ion-content>
