.loginToolbar{
  width: 44%;
  margin: auto;
}
.logo
{
  width: 50%;
  margin: auto;
  top: 18.59%;
  bottom: 71.53%;
  left: 38.65%;
  right: 38.89%;
}
.loginHeader{
  width: 20%;
  margin: auto;
  font-weight: bold;
}
.loginCard{
  width: 95%;
  margin: auto;
}
