.loginToolbar{
  width: 44%;
  margin: auto;
}
.logo
{
  width: 50%;
  margin: auto;
  margin-top: 15%;
  margin-bottom: 15%;
}
.loginHeader{
  width: 20%;
  margin: auto;
  font-weight: bold;
}
.loginCard{
  width: 95%;
  margin: auto;
}
