<ion-header>
  <ion-toolbar>
    <ion-title class="loginToolbar">Tela de login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-img class="logo" src="assets/cesar-logo.png" alt="falha ao carregar"></ion-img>

<div class="form">
  <ion-card class="loginCard">
    <ion-card-header>
      <ion-card-title class="loginHeader">Login</ion-card-title>
    </ion-card-header>

    <ion-item>
      <ion-label color="dark" position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]='email'></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="dark" position="floating">Senha</ion-label>
      <ion-input type="password" [(ngModel)]='password'></ion-input>
    </ion-item>

    <ion-card-content>
      <ion-button color="light" style="width: 100%;" (click)="login()" expand="block">login</ion-button>
    </ion-card-content>
  </ion-card>
</div>

</ion-content>
