ion-content{
    --ion-background-color: #9D9BC7;
  }
  
  .loginToolbar{
    width: 44%;
    margin: auto;
  }
  .logoImage{
    position: absolute;
    left: 7.73%;
    right: 74.15%;
    top: 12.94%;
    bottom: 79.09%;
  }
  
  .loginCard{
    margin: auto;
    top: 322px;
    left: 0px;
    height: 222px;
  }
  
  .backclip{
    position: inherit;
  }