<ion-header>
  <ion-toolbar>
    <ion-title style="margin: auto; width: 30%;">
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-img class="background" src="assets/home-page.png"></ion-img>

  <ion-text color="cesinha">
    <h4 class="welcome">Aproveite sua vida acadêmica e profissional ao máximo.</h4>
  </ion-text>

  <ion-button class="sign" color="borahae" shape="round" size="default" (click)="signUp()">Criar conta com Google</ion-button>

  <ion-button class="login" color="transparent" shape="round" size="default" (click)="login()">Fazer login com Google</ion-button>


</ion-content>