<ion-header>
  <ion-toolbar>
    <ion-title>register2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-progress-bar class="progress" color="borahae" value="0.3"></ion-progress-bar>


  <ion-img class="backclip" src="assets/bg-clip.png" alt="falha ao carregar"></ion-img> 

  <ion-text class="titulo" color="borahae">Experiência</ion-text>
  <ion-text class="descri" color="borahae">Caso você tenha alguma experiência legal que queira registrar por aqui, 
    vamos adicioná-las ao seu perfil! Caso ainda não tenha, tudo bem! Basta pular esta etapa!</ion-text>

  <ion-text class="xp" color="borahae">Emprese/Projeto</ion-text>
  <ion-card style="background: transparent; position: absolute; top: 245px; height: 42px; width: 344px;">
    <ion-item>
        <ion-input type="text"></ion-input>
    </ion-item>
  </ion-card>

  <ion-text class="funcao" color="borahae">Função</ion-text>
  <ion-card style="background: transparent; position: absolute; top: 330px; height: 42px; width: 344px;">
    <ion-item>
        <ion-input type="text"></ion-input>
    </ion-item>
  </ion-card>

  <ion-text class="begin" color="borahae">Data de início</ion-text>
  <ion-card style="position: absolute; top: 430px; height: 42px; width: 344px;">
    <ion-item>
        <ion-input type="text"></ion-input>
    </ion-item>
  </ion-card>

  <ion-text class="end" color="borahae">Data de término</ion-text>
  <ion-card style="background: transparent; position: absolute; top: 530px; height: 42px; width: 344px;">
    <ion-item>
        <ion-input type="text"></ion-input>
    </ion-item>
  </ion-card>

  <ion-text class="about" color="borahae">Descrição</ion-text>
  <ion-card style="background: transparent; position: absolute; top: 630px; height: 70px; width: 344px;">
    <ion-item>
        <ion-input type="text"></ion-input>
    </ion-item>
  </ion-card>

  <ion-fab class="mais" vertical="center" horizontal="end">
    <ion-fab-button color="borahae">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <ion-button class="back" color="transparent" shape="round" size="default">Voltar</ion-button>
  <ion-button class="next" color="borahae" shape="round" size="default">Próximo</ion-button>
  <ion-button class="skip" color="transparent" shape="round" size="default">Pular</ion-button>

</ion-content>
